In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("~/Course_Python/data_splitting/netflix_movies_detailed_up_to_2025.csv")
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,language,description,popularity,vote_count,vote_average,budget,revenue
0,10192,Movie,Shrek Forever After,Mike Mitchell,"Mike Myers, Eddie Murphy, Cameron Diaz, Antoni...",United States of America,2010-05-16,2010,6.380,NaN,"Comedy, Adventure, Fantasy, Animation, Family",en,A bored and domesticated Shrek pacts with deal...,203.893,7449,6.380,165000000,752600867
1,27205,Movie,Inception,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...","United Kingdom, United States of America",2010-07-15,2010,8.369,NaN,"Action, Science Fiction, Adventure",en,"Cobb, a skilled thief who commits corporate es...",156.242,37119,8.369,160000000,839030630
2,12444,Movie,Harry Potter and the Deathly Hallows: Part 1,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, T...","United Kingdom, United States of America",2010-11-17,2010,7.744,NaN,"Adventure, Fantasy",en,"Harry, Ron and Hermione walk away from their l...",121.191,19327,7.744,250000000,954305868
3,38757,Movie,Tangled,"Byron Howard, Nathan Greno","Mandy Moore, Zachary Levi, Donna Murphy, Ron P...",United States of America,2010-11-24,2010,7.600,NaN,"Animation, Family, Adventure",en,"Feisty teenager Rapunzel, who has long and mag...",111.762,11638,7.600,260000000,592461732
4,10191,Movie,How to Train Your Dragon,"Chris Sanders, Dean DeBlois","Jay Baruchel, Gerard Butler, Craig Ferguson, A...",United States of America,2010-03-18,2010,7.800,NaN,"Fantasy, Adventure, Animation, Family",en,As the son of a Viking leader on the cusp of m...,110.044,13259,7.800,165000000,494879471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,1440286,Movie,Festival de Vi√±a del Mar 2025: Ha*Ash,NaN,Ha*ash,Chile,2025-02-24,2025,0.000,NaN,Music,es,NaN,4.931,0,0.000,0,0
15996,1271724,Movie,Man and Woman,Vladimir Kott,"Anna Kotova, Stepan Devonin, Pavel Derevyanko,...",Russia,2025-03-13,2025,0.000,NaN,Drama,ru,Poignant stories about men and women who have ...,4.930,0,0.000,0,0
15997,1426364,Movie,Night of the Dead Sorority Babes,"Angel Nichole Bradford, Steve Hermann","Jessa Flux, Lynn Lowry, Angel Nichole Bradford...",NaN,2025-01-28,2025,1.000,NaN,Horror,en,Two villainous entities initiate gorgeous soro...,4.922,1,1.000,0,0
15998,1411248,Movie,A Dunces Burden,Daniel Kowal,"Riley G, Mitchel Corrado",NaN,2025-03-10,2025,0.000,NaN,NaN,en,A Dunces Burden,4.921,0,0.000,0,0
15999,1405742,Movie,Portal to Hell,Woody Bess,"Trey Holland, Keith David, Richard Kind, Micha...",United States of America,2025-02-22,2025,0.000,NaN,"Comedy, Horror",en,After a debt-collector finds a portal to hell ...,4.921,0,0.000,0,0

In [3]:
# Get the number of rows and columns
num_rows, num_columns = df.shape

# Get the number of unique columns
num_unique_columns = len(df.columns)

print(f"Number of rows: {num_rows}")
print(f"Number of unique columns: {num_unique_columns}")

Number of rows: 16000
Number of unique columns: 18

In [4]:
# Check for NULL values in each column
null_values = df.isnull().sum()

# Filter out columns with no NULL values
null_columns = null_values[null_values > 0]

print("Columns with NULL values and the count of NULLs:")
print(null_columns)

Columns with NULL values and the count of NULLs:
director         132
cast             204
country          466
duration       16000
genres           107
description      132
dtype: int64

In [5]:
# Generate summary statistics using describe()
summary_stats = df.describe()

# Display the summary statistics
print(summary_stats)

            show_id  release_year        rating  duration    popularity  \
count  1.600000e+04  16000.000000  16000.000000       0.0  16000.000000
mean   5.266582e+05   2017.500000      5.956368       NaN     20.384728
std    3.794427e+05      4.609916      1.754741       NaN     68.610033
min    1.890000e+02   2010.000000      0.000000       NaN      3.860000
25%    2.257258e+05   2013.750000      5.600000       NaN      7.840750
50%    4.468170e+05   2017.500000      6.300000       NaN     10.913500
75%    7.739808e+05   2021.250000      6.923000       NaN     17.336500
max    1.440471e+06   2025.000000     10.000000       NaN   3876.006000

         vote_count  vote_average        budget       revenue
count  16000.000000  16000.000000  1.600000e+04  1.600000e+04
mean     718.656125      5.956368  8.766792e+06  2.446308e+07
std     2080.198316      1.754741  2.912450e+07  1.116977e+08
min        0.000000      0.000000  0.000000e+00  0.000000e+00
25%       53.000000      5.600000  0.000000e+00  0.000000e+00
50%      138.000000      6.300000  0.000000e+00  0.000000e+00
75%      422.000000      6.923000  2.200000e+06  1.654473e+06
max    37119.000000     10.000000  4.600000e+08  2.799439e+09

In [6]:
# Drop rows with any NULL values
df_cleaned = df.dropna()

# Display the number of rows and columns after dropping NULL values
print(f"Shape of the cleaned dataset: {df_cleaned.shape}")

# Optionally, display the first few rows of the cleaned dataset
print(df_cleaned.head())

Shape of the cleaned dataset: (0, 18)
Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, genres, language, description, popularity, vote_count, vote_average, budget, revenue]
Index: []